
@font-face {
    font-family: NostromoOutline;
    font-weight: bold;
    src: url('NostromoOutline-Bold.otf') format("opentype");
}
@font-face {
    font-family: FuturaPtBold;
    font-weight: bold;
    src: url('FuturaPTBold.otf') format("opentype");
}
  